/* prettier-ignore */
.error
{
	color: var(--error-fore);
	background-color: var(--error-back);
}
.warning
{
	color: var(--warning-fore);
	background-color: var(--warning-back);
}
.good
{
	color: var(--good-fore);
	background-color: var(--good-back);
}
:root {
    --good-fore:                       hsla(120, 100%,  50%, 1  );
    --good-back:                       hsla(120, 100%,  80%, 0.5);
    --error-fore:                      hsla(  0, 100%,  50%, 1  );
    --error-back:                      hsla(  0, 100%,  80%, 0.5);
    --warning-fore:                    hsla( 30, 100%,  50%, 1  );
    --warning-back:                    hsla( 30, 100%,  80%, 0.5);
}
